@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: var(--font-space-grotesk), sans-serif;
    --color-foreground: #001A4D;
    --color-primary-cream: #FFFDE7;
    --color-primary-navy-dark: #001A4D;
    --color-primary-charcoal: #001A4D;
    --color-primary-teal: #003D39;
    --color-primary-green-light: #D8FFE7;
    --color-primary-green-dark: #003E19;
    --color-primary-blue-light: #D8FFFD;
    --color-primary-blue-dark: #003D39;
    --color-red-secondary: #B42318;
    --color-orange-secondary: #B42318;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 253, 231;
}

body {
    /*color: rgb(var(--foreground-rgb));*/
    background: rgb(var(--background-rgb));
    color: var(--color-primary-navy-dark);
    font-family: var(--font-sans);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .prose {
        --tw-prose-body: var(--color-primary-navy-dark);
        --tw-prose-headings: var(--color-primary-navy-dark);
        --tw-prose-lead: color-mix(in oklab, var(--color-primary-navy-dark) 85%, transparent);
        --tw-prose-links: var(--color-primary-navy-dark);
        --tw-prose-bold: var(--color-primary-navy-dark);
        --tw-prose-counters: color-mix(in oklab, var(--color-primary-navy-dark) 65%, transparent);
        --tw-prose-bullets: color-mix(in oklab, var(--color-primary-navy-dark) 50%, transparent);
        --tw-prose-hr: color-mix(in oklab, var(--color-primary-navy-dark) 15%, transparent);
        --tw-prose-quotes: var(--color-primary-green-dark);
        --tw-prose-quote-borders: var(--color-primary-green-light);
        --tw-prose-captions: color-mix(in oklab, var(--color-primary-navy-dark) 65%, transparent);
        --tw-prose-code: var(--color-primary-navy-dark);
        --tw-prose-pre-code: var(--color-primary-cream);
        --tw-prose-pre-bg: var(--color-primary-navy-dark);
        --tw-prose-th-borders: color-mix(in oklab, var(--color-primary-navy-dark) 20%, transparent);
        --tw-prose-td-borders: color-mix(in oklab, var(--color-primary-navy-dark) 10%, transparent);
    }
}
